@import './colors';

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
	background-color: $dark;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
	background-color: $white;
}

.section-heading {
	position: relative;
	margin-bottom: 0.5em;
	font-size: 3rem;
	letter-spacing: 2px;
	text-align: center;
}

.section-padding {
	padding: 3em 2em;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;

	.hamburger {
		display: none;
	}
}
