@media (min-width: 992px) {
	.nav {
		.car {
			font-size: 2.9rem;
		}

		&__item {
			font-size: 2.5rem;
		}
	}

	.header {
		&__text {
			font-size: 4.2rem;
		}
		&__heading {
			font-size: 5rem;
		}

		&__course {
			font-size: 3rem;
		}
	}

	.family {
		.adventure {
			&__box {
				background-image: url('../img/adventure-big.webp');
				padding: 7em 6em;
			}
		}
	}

	.faq {
		.accordion__box {
			width: 500px;
		}
	}
}

@media (min-width: 1200px) {
	.section {
		.about {
			&-heading {
				font-size: 4.5rem;
			}

			&__title {
				font-size: 4.5rem;
				font-weight: 400;
				margin-bottom: 1em;
			}

			&__text {
				font-size: 3.2rem;
				line-height: 1.3;
				font-weight: 300;
				margin-bottom: 0.5em;

				&-first {
					font-weight: 300;
					font-size: 2.8rem;
				}
			}
		}
	}

	.offers {
		.section-heading {
			font-size: 4.5rem;
		}
	}

	.family {
		.adventure {
			&__box {
				padding: 7em 6em;
			}

			&__title {
				padding: 1em 3em;
				font-size: 5.5rem;
			}
		}
	}

	.offer-page {
		.footer {
			margin-top: 500px;
		}
	}

	.map {
		&__box {
			iframe {
				width: 100%;
				height: 800px;
			}
		}
	}
}
