@media (min-width: 768px) {
	.offer-page {
		.header {
			display: none;
		}

		.footer {
			margin-top: 350px;
		}
		.offers {
			.section-heading {
				margin-top: 70px;
			}

			&__card {
				margin-top: 50px;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 25px;
				&-items {
					x &:hover {
						transform: scale(1.1);
					}
				}

				&-full {
					margin-top: 10px;
					grid-column: 1 / -1;
				}
			}
		}
		.footer {
			margin-top: 500px;
		}
	}

	.basic-page1 {
		margin-top: 160px;

		.header {
			display: none;
		}

		.offers {
			&__card {
				font-size: 2.1rem;
				gap: 15px;

				&-basic {
					font-size: 1.9rem;
					word-break: normal;
				}

				&-link {
					font-size: 2.3rem;
				}
			}
		}

		.offers__card {
			margin-top: 50px;
		}

		.footer {
			margin-top: 230px;
		}
		.footer1 {
			margin-top: 30px;
		}
	}

	.header {
		&__course {
			font-size: 1.9rem;
		}
	}

	.section {
		.about {
			&__text {
				line-height: 1.6;
				margin-bottom: 1em;
			}
		}
	}

	.contact-page {
		.header {
			display: none;
		}

		.contact {
			&__form {
				gap: 30px;

				&-box {
					&:nth-child(1) {
						grid-column: 1/4;
						grid-row: 1/2;
					}
					&:nth-child(2) {
						grid-column: 4/7;
						grid-row: 1/2;
					}
					&:nth-child(3) {
						grid-column: 1/-1;
						grid-row: 2/3;
					}
					&:nth-child(4) {
						grid-column: 1/-1;
						grid-row: 3/4;
					}
				}

				&-btn {
					grid-row: 4/5;
				}
			}

			.section-title {
				font-size: 3rem;
				font-weight: 300;
				text-transform: uppercase;
			}
		}
	}

	.nav {
		&-mobile {
			display: none;
		}

		&-desktop {
			position: fixed;
			display: flex;
			align-items: center;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
			background-color: #fff;
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

			.car {
				display: flex;
				align-items: center;
				margin-left: 1em;
			}

			.car .fa-solid {
				width: 140px;
				height: 120px;
			}

			.nav__item {
				text-wrap: nowrap;
				font-size: 1.5rem;
				margin: 0 0.3em;
				padding: 0.3em 0.6em;
			}

			&__item {
				position: fixed;
				margin: 0.5em;
				padding: 0.5em;
				font-size: 1.7rem;
				color: $dark;
				text-decoration: none;
				transition: transform 0.3s;

				&:hover {
					background-color: $dark;
					color: $white;
				}
			}

			.nav__item-experience {
				font-size: 1.5rem;
				color: #333;
				margin-left: 0.5em; /* Dodanie odstępu między logo a napisem */
				text-transform: uppercase;
				text-align: center;
				white-space: normal;

				&::after,
				&::before {
					display: none;
					content: '';
				}
			}
			.nav-items {
				display: flex;
				gap: 1em; /* Ustawienie odstępu między linkami */
				margin-left: auto; /* Przesunięcie sekcji na prawo */
			}
		}
	}

	.header {
		background-image: url('../img/main-header.webp');

		&__text {
			font-size: 3.2rem;
		}

		&__heading {
			font-size: 4rem;
		}
	}

	.header::before {
		content: '';
		background-color: rgba(0, 0, 0, 0);
	}

	.offers {
		&__card {
			display: grid;
			grid-template-columns: 1fr;
			justify-content: center;
			align-items: center;

			&-items {
				justify-self: center;
				height: 40px;
				max-width: 950px;
				margin-top: 80px;
				&:hover {
					transform: scale(1.05);
				}
			}

			&-full {
				margin-top: 10px;
				justify-self: center;
				grid-column: 1;
			}
		}
	}

	.family {
		.adventure {
			&__box {
				background-image: url('../img/side-big-adventure.webp');
			}
		}
	}

	.faq {
		.wrapper {
			max-width: 500px;
			.accordion__box-icon {
				width: 120px;
				height: 120px;
			}

			.accordion-heading {
				font-size: 4rem;
				margin-top: 353px;
			}

			.accordion__box-text {
				font-size: 1.5rem;
			}
		}

		.accordion__box {
			width: 400px;
		}
	}

	.footer {
		margin-top: 0px;

		.wrapper {
			padding: 0;
		}

		&__box-desktop {
			display: block;
		}
	}
}

@media (max-width: 767px) {
	.wrapper {
		.hamburger {
			display: flex;
			position: absolute;
			top: 1em;
			right: 1em;
			z-index: 500;

			&-inner,
			&-inner::after,
			&-inner::before {
				z-index: 500;
			}
		}
	}
}
