@import './colors';
@import './components';

@font-face {
	font-family: 'Raleway';
	font-weight: 300;
	src: url('../assets/fonts/Raleway-Thin.woff2') format('woff2'),
		url('../assets/fonts/Raleway-Thin.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	font-weight: 400;
	src: url('../assets/fonts/Raleway-Regular.woff2') format('woff2'),
		url('../assets/fonts/Raleway-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	font-weight: 500;
	src: url('../assets/fonts/Raleway-Medium.woff2') format('woff2'),
		url('../assets/fonts/Raleway-Medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'Raleway';
	font-weight: 700;
	src: url('../assets/fonts/Raleway-Bold.woff2') format('woff2'),
		url('../assets/fonts/Raleway-Bold.woff') format('woff');
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6em;
	font-family: 'Raleway', sans-serif;
	color: $white;
	background-color: $white;
}

.nav {
	&-desktop {
		display: none;
	}

	&-mobile {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		background-color: $white;
		transform: translateX(-102%);
		transition: transform 0.2s ease-in-out;

		&--active {
			transform: translateX(0);
			transition-delay: 0.2s;
		}
	}

	&__item {
		position: relative;
		display: block;
		margin: 0.5em;
		padding: 0.5em;
		color: $dark;
		z-index: 0;
		font-size: 2.1rem;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.3s ease;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0;
			z-index: -1;
			width: 100%;
			background-color: $dark;
			transition: height 0.5s ease;
		}
		&:hover {
			color: $white;

			&::after {
				background-color: green;
				height: 100%;
			}
		}

		&.is-active {
			color: $white;

			&::after {
				background-color: $dark;
				height: 100%;
			}
		}
	}
}

.header {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
	width: 100%;
	height: 70vh;
	color: #fff;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	background-image: url('../img/header-small.webp');
	background-size: cover;
	background-position: center;
	object-fit: cover;
}

.header::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.header__heading {
	position: relative;
	font-size: 3.5rem;
	font-weight: 500;
	z-index: 2;
	text-align: center;
}

.header__text {
	position: relative;
	font-size: 2.4rem;
	margin-bottom: 0.2em;
	text-align: center;
	z-index: 2;
	margin-top: 40px;

	.exam {
		text-decoration: underline #aa0000 3px;
	}
}

.header__course {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.7rem;
	font-family: sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	text-align: center;
	z-index: 2;

	.time {
		font-weight: bold;
		color: #98ff90;
	}
}

.section {
	color: $dark;
	.about {
		font-weight: 300;
		&-heading {
			font-size: 3.3rem;
			font-weight: 400;
			margin-bottom: 2em;
			text-transform: uppercase;
		}
		&__box {
			display: flex;
			flex-direction: column;
		}

		&__img {
			width: 100%;
			object-fit: cover;
			border-radius: 8px;
		}

		&__title {
			font-size: 2.9rem;
			font-weight: 600;
			margin-bottom: 1em;
		}

		&__text {
			font-family: sans-serif;
			font-size: 2.7rem;
			line-height: 1.3;
			font-weight: 300;
			margin-bottom: 0.5em;
		}
	}
}

.family {
	.adventure {
		&__box {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			padding: 2em 0.5em;
			background-image: url('/img/adventure-sm.webp');
			background-size: cover;
			background-position: center;
			object-fit: cover;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
				z-index: 1;
			}
		}

		&__title {
			position: relative;
			padding: 0.7em 2em;
			border: solid;
			font-size: 3.5rem;
			font-weight: 300;
			color: $white;
			z-index: 2;
		}
	}
}
.offers {
	.section-heading {
		font-size: 3.5rem;
		font-weight: 400;
		text-transform: uppercase;
		text-align: center;
	}

	.offer-text {
		font-size: 2rem;
		text-align: center;
	}

	&__card {
		display: flex;
		flex-direction: column;
		height: 450px;
		margin: 1.4em 0em;
		gap: 30px;
		text-align: center;

		&-items {
			padding: 2em;
			height: 600px;
			border-radius: 8px;
			border: solid $light-shadow;
			box-shadow: 3px 3px 7px 0px $light-shadow;
			transition: transform 0.3s ease;

			&-title {
				font-size: 2.8rem;
				font-weight: normal;
				margin-bottom: 0.5em;
				text-transform: uppercase;
			}

			&-price {
				font-size: 2.5rem;
				font-weight: bold;
				margin-bottom: 0.5em;
			}
		}
		&-info {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
		}

		&-option-1 {
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 1.5rem;
			margin-right: 1.85em;
			font-weight: 500;
			font-family: sans-serif;
		}

		&-btn {
			margin-top: 1.2em;
			padding: 0.7em 4.2em;
			font-size: 1.5rem;
			font-weight: 300;
			background-color: $white;
			border: solid $light-shadow;
			box-shadow: 3px 3px 7px 0px $light-shadow;
			border-radius: 5px;
		}

		&-full {
			font-size: 2.7rem;
			color: $dark;
			text-transform: uppercase;
			text-decoration: underline rgb(154, 111, 37);
			cursor: pointer;
		}
	}
}

.faq {
	display: flex;
	align-items: center;
	font-family: sans-serif;
	color: $dark;
	margin-top: 50px;
	.wrapper {
		padding: 0em 2em 2em;
		width: 100%;
		max-width: 500px;

		.accordion-heading {
			font-size: 2.8rem;
			text-align: center;
			margin-bottom: 1.5em;
			text-transform: uppercase;
		}
	}

	.accordion__box {
		width: 210px;
		background-color: green;
		color: $white;
		border-radius: 6px;
		margin: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.accordion__box-icon {
		width: 30px;
		height: 30px;
		margin-right: 20px;
		color: $dark;
	}

	.accordion__box-info {
		padding: 1em 2em;
		display: none;
	}

	.accordion__box-text {
		margin-bottom: 0.5em;
	}

	.accordion__box-btn {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: row;
		text-wrap: wrap;
		padding: 1em;
		width: 100%;
		font-size: 1.6rem;
		text-align: left;
		border: none;
		border-radius: 6px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover,
		&:focus {
			background-color: #c7c5c5;
			color: $white;
			outline: none;
		}
	}

	.active {
		display: block;
	}
}

.footer {
	margin-top: 90px;
	color: $light-dark;
	background-color: $light-grey;

	.wrapper {
		padding: 0em 5em 1em;
	}

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 1.4rem;
		flex-wrap: nowrap;
	}
	&__box-logo {
		width: 30em;
		height: 20em;
	}
	&__box-social {
		margin: 0em 0em 3em;
	}

	&__box-link {
		width: 50px;
		height: 50px;
		padding: 0em 0.3em;
		margin: 0 0.7em;
	}

	&__bottom-text {
		font-size: 1.3rem;
		padding: 2rem;
		text-align: center;
	}

	&__year {
		margin-right: 0.5em;
	}
}
.offer-page {
	.section-heading {
		padding: 1.2rem;
	}

	.footer {
		margin-top: 1900px;
	}
}

.contact {
	padding: 1em 1em;
	background-color: $light-grey;

	.section-title {
		margin-top: 5em;
		margin-bottom: 1em;
		font-weight: 300;
		font-size: 3.5rem;
		text-transform: uppercase;
		color: $light-dark;
	}

	&__card {
		color: $dark;
		font-weight: 300;
		font-family: sans-serif;
		&-items {
			display: block;
			margin-bottom: 1.5em;

			&-container {
				text-align: center;
			}

			&-icon {
				display: block;
				margin: 0 auto;
				width: 1.2em;
				height: 1.2em;
			}

			&-text {
				margin-top: 1.2em;
				font-size: 1.9rem;
			}

			&-direction {
				margin-top: 4em;
			}
		}
	}
}

.map {
	font-size: 4rem;
	font-weight: 300;
	color: $dark;
	text-transform: uppercase;

	&__box {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 5rem;
	}
}

.contact-page {
	.footer {
		margin-top: 0px;
	}
}

@import './small';
@import './medium';
@import './large';
